<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="Default" providerName="System.Data.SqlClient" connectionString="Server=Localhost;Database=ThunderTest;Integrated Security=true;Pooling=false" />
        <add name="Master" providerName="System.Data.SqlClient" connectionString="Server=Localhost;Database=master;Integrated Security=true;Pooling=false" />
        <add name="AnotherDatabase" providerName="" connectionString="whatever" />
    </connectionStrings>
</configuration>