<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <!--<add name="Default" providerName="System.Data.SqlClient" connectionString="Server=REDLION\SQLEXPRESS;Database=ThunderTest;Integrated Security=true;Pooling=false" />
        <add name="Master" providerName="System.Data.SqlClient" connectionString="Server=REDLION\SQLEXPRESS;Database=master;Integrated Security=true;Pooling=false" />-->
        <add name="Default" providerName="System.Data.SqlClient" connectionString="Server=D199;Database=ThunderTest;User=sa;Password=manager;Pooling=false" />
        <add name="Master" providerName="System.Data.SqlClient" connectionString="Server=D199;Database=master;User=sa;Password=manager;Pooling=false" />
    </connectionStrings>
</configuration>